<h1> <%= @question.title %> </h1>
<p><%= @question.body %></p>
<%= link_to 'Delete', question_path(@question),
  method: :delete %>
  <%= link_to "Edit", edit_question_path %>

  <%= form_for [@question, @answer] do |f| %>
    <%= f.label :body %>
    <%= f.text_field :body %>
    <%= f.submit "Submit", class: "button" %>
  <% end %>

<ul>
<% @answers.each do |answer| %>
  <li>
    <% if answer.best == false %>
    <%= "This is the best answer" %>
    <% end %>
  </li>
  <li><%= answer.body %></li>
  <li>
    <%= form_for [@question, answer] do |f| %>
    <%= f.submit "Best", class: "button" %>
    <% end %>
  </li>
<% end %>
</ul>
